<div class="page-title">
  <h4>Категории</h4>
  <button class="waves-effect waves-light btn grey darken-1" [routerLink]="[MainRoutes.CATEGORIES, 'new']">Добавить
    категорию
  </button>
</div>

<div class="row" *ngIf="categories$ | async as categories; else loaderRef">
  <div class="col s12">
    <div class="collection" *ngIf="categories.length !== 0; else messageRef">
      <a class="collection-item active" *ngFor="let category of categories" [routerLink]="[MainRoutes.CATEGORIES, category._id]">{{category.name}}</a>
    </div>
    <ng-template #messageRef>
      <div class="center">У вас нет ни одной категории</div>
    </ng-template>
  </div>
</div>

<ng-template #loaderRef>
  <loading></loading>
</ng-template>