<div class="page-title">
  <h4>
    <a routerLink="/main/categories">Категории</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{ isNew ? 'Добавить категорию' : null}}
    {{ !isNew ? 'Редактировать категорию' : null }}
  </h4>
  <span>
    <button class="btn btn-small red">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="input-field">
      <input id="name" type="text" formControlName="name" [class.invalid]="form.get('name').invalid && form.get('name').touched">
      <label for="name">Название</label>
      <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
        <span *ngIf="form.get('name').errors['required']">Имя категории не может быть пустым</span>
      </span>
    </div>

    <div>
      <button type="button" class="waves-effect waves-light btn orange lighten-2 mb2" (click)="onFileUploadButtonClick(inputFileRef)"><i class="material-icons left">backup</i>Загрузить изображение</button>
      <input type="file" hidden="hidden" #inputFileRef (change)="onFileUpload($event)">
    </div>

    <div>
      <button type="submit" class="waves-effect waves-light btn" [disabled]="form.invalid || form.disabled">Сохранить изменения</button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img class="responsive-img" style="height: 200px" [src]="imagePreview" *ngIf="imagePreview">
  </div>
</div>

<app-positions-form></app-positions-form>